.heading15 {
	position: relative;
	padding-bottom: 20px;
	font-size: 70px;
	text-align: center;
}

.heading15::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 7px;
	height: 7px;
	background-color: #b99b00;
	border-radius: 7px;
}

.em {
  font-size: 1.5em
}

button {
    width: 20em;
    height:6em;
  }

.example{
    font-size: 200%;
}